@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.classified-box {
  border: 2px black solid;
  border-radius: 8px;
  background-color: whitesmoke;
  padding:8px;
  margin: 5px 5px 5px 5px;
}

.heading-box {font-weight: 600; background-color: cornflowerblue; border-radius: 8px 8px 0px 0px; 
  margin-left: -6px; margin-right: -6px;
  margin-top: -6px; margin-bottom: 6px;}

h1 {font-weight: 600; padding: 4px; margin-left: 5px; margin-right: 5px;}

.contact-box {font-weight: 600; background-color: lavender ; border-radius: 0px 0px 8px 8px; 
  margin-left: -6px; margin-right: -6px;
  margin-top: 6px; margin-bottom: -6px;}

.contact-box p { margin-left: 5px; margin-right: 5px;}



